body {
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  width: 1000px;
  margin: auto;
}

.banner {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.banner-content {
  border: 2px solid #E42829;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  padding: 50px;
  padding-top: 40px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
}

.banner-link {
  text-decoration: none;
  color: #E42829;
}

.banner-link:hover {
  text-decoration: underline;
}

.btn-contact {
  background-color: #E42829;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 24px;
  opacity: 0.8;
}

.btn-contact:hover {
  opacity: 1;
}

.bio {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display:flex;
  justify-content: center;
  align-items:center;
}

.bio-content {
  background-color: rgba(255,255,255,0.6);
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
  overflow:hidden;
}

.bio-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-position: center;
  right:-10vw;
  top:-10vh;
  z-index: 2;
}

.bio-image {
  text-align: center;
  padding: 20px;
  z-index: 3;
}

.bio-image img {
  width: 36vh;
  height: 36vh;
  object-fit: cover;
  border-radius: 50%;
}
.bio-description {
  font-size: 16px;
  padding: 20px;
  z-index: 3;
}

.bio-description h2 {
  margin: 0;
}

.skill-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.skill-icon {
  height: 10vh;
  margin-top: 10px;
}

.edu-grid {
  display:grid;
  grid-template-columns: 1fr 2fr 4fr;
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
}

.edu-icon {
  height: 15vh;
  margin-top: 10px;
}

.project {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display:flex;
  justify-content: center;
  align-items:center;
}

.project-content {
  background-color: rgba(255,255,255,0.6);
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  overflow:hidden;
}

.project-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-position: center;
  right:-10vw;
  top:-10vh;
  z-index: 2;
}

.portfolio-carousel {
  width: 50vw;
}

.portfolio-carousel img {
  width: 45vw;
  height: auto;
  object-fit: cover;
}

.swap-content h2 {
  margin: 0;
  margin-top: 30px;
  color: #E42829;
  font-size: 32px;
}

.swap-content p {
  font-size: 20px;
}

.swap-content {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  z-index: 3;
}

.contact {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display:flex;
  justify-content: center;
  align-items:center;
}

.contact-content {
  background-color: rgba(255,255,255,0.6);
  width: 40vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: column;
  border-radius: 5px;
  position:relative;
  overflow:hidden;
}
.contact-info {
  z-index: 3;
}

.contact-form {
  display:flex;
  flex-direction: column;
  width: 30vw;
}

.email-body {
  height: 200px;
}

.form-input {
  margin-top: 10px;
  margin-bottom: 15px;
}

.form-submit {
  background-color: #E42829;
  border: 1px solid #E42829;
  border-radius: 5px;
  color:white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.7;
}

.form-submit:hover {
  opacity: 1;
}

.contact-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-position: center;
  right:-30vw;
  top:-10vh;
  z-index: 2;
}

.contact-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px 0;
  z-index: 3;
}

.contact-grid a {
  text-decoration: none;
}

.contact-grid a:hover {
  opacity: 1;
}

.contact-card {
  display:flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  font-weight: lighter;
}

.contact-card:hover {
  color: #E42829;
}

.contact-img {
  font-size: 2vw;
  margin: 0 10px;
}

.contact-description p {
  margin: 0;
  text-decoration: none;
}

.contact-description h3 {
  margin: 0;
  text-decoration: none;
}

/* Typing effect */

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /*letter-spacing: .10em;*/
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* Scroll Down icon */

.scroll-down {
  position: absolute;
  width:24px;
  right: calc(50vw - 12px);
  bottom: 50px;
}

.container2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
