.project {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display:flex;
  justify-content: center;
  align-items:center;
}

.project-content {
  background-color: rgba(255,255,255,0.6);
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  overflow:hidden;
}

.portfolio-carousel {
  width: 50vw;
}

.portfolio-carousel img {
  width: 45vw;
  height: auto;
  object-fit: cover;
}

.swap-content h2 {
  margin: 0;
  margin-top: 30px;
  color: #E42829;
  font-size: 32px;
}

.swap-content p {
  font-size: 20px;
}

.swap-content {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

/* RESPONSIVE */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .project-content {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    align-items: flex-start;
  }

  .portfolio-carousel {
    width: 96vw;
  }

  .portfolio-carousel img {
    width: 96vw;
  }

  .swap-content h2 {
    font-size: 24px;
  }

  .swap-content p {
    font-size: 16px;
  }

  .swap-content {
    height: 85%;
  }
}
